ol {
  border-bottom: solid black 2px;
  padding-bottom: 15px;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
}
.right {
  border: solid green 2px;
  margin: 5px;
    text-shadow: 2px 2px 4px #3dc115;
}

.dontshow {
  display: none;
}

.wrong {
  border: solid red 2px;
  margin: 5px;
  text-shadow: 2px 2px 4px #f20707;
}

p {
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
}

button {
      padding:5px;
      border:2px solid #ccc;
      border-color:#333;
      padding:3px 10px;
      background:#ccc;
      border:0 none;
      cursor:pointer;
      border-radius: 3px;
      font-family: 'PT Sans', sans-serif;
      font-weight: bolder;
  }

  li {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
  }

  label {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    display: block;
  margin-left: 3%;
  margin-top: -22px;
  }

h1{
  font-family: 'Metal Mania', cursive;
}
