html {
  height: 100%;
  color: black;
}
header {
  height: 15%
  position: fixed;
  background-color: blue;
}
.hweeklogo {
  width: 120px;
  height: auto;
}
nav {
  position: absolute;
  left: 1000px;
  bottom: 485px;
  background-color: green;
}
nav > ul > li {
  color: red;
  display: inline-block;
  padding: 5px;
}
ul {
  list-style-type: none;
}
h1 {
  font-family: 'Metal Mania', cursive;
  margin-left: 130px;
  position: absolute; top: 80px;
  color: #700f14;
  text-shadow: 2px 0 0#FFAE19, -2px 0 0#FFAE19, 0 2px 0#FFAE19, 0 -2px 0#FFAE19, 1px 1px#FFAE19, -1px -1px 0#FFAE19, 1px -1px 0#FFAE19, -1px 1px 0#FFAE19;
}
main {
  position: absolute;
  margin: 20px;
  margin-left:150px;
  width: 1000px;
}
#day1-resource,
#day2-resource,
#day3-resource,
#day4-resource,
#day5-resource {
  border: solid 5px black;
  background-color: orange;
}

h3 {
  font-size: 18px;
}
a {
    color: black;
}
a:hover {
  color: black;
}
a:link {
text-decoration: none;
}
footer {
  background-color: yellow;
}
